.taskList {
    padding: 0px;
    margin-inline-end: 40px;
    margin-bottom: 40px;
}

ul .draggable:after {
    content: 'drag me';
    right: 7px;
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    line-height: 5;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
    transform: translateX(120%);
    opacity: 0;
}

ul:hover:after {
    opacity: 1;
    transform: translate(0);
}

ul .over {
    transform: scale(1.1, 1.1);
}